@import 'reset';
@import 'fonts';
/*=============================
		    Variables
=============================*/
	/*	Colors	*/
		$bg: #ddd; //Background Color
		$fg: #37d; //Foreground Color
	/*	Sizes	*/

	/*	URLs	*/
		$loopImg: "../images/512/loopglass.png";
		$avatarImg: "../images/512/avatar.png";
/*=============================
		    Mixins
=============================*/
@mixin box-shadow($properties) {
	-webkit-box-shadow: $properties;
	   -moz-box-shadow: $properties;
	    -ms-box-shadow: $properties;;
	        box-shadow: $properties;}
@mixin transition($effect, $time) {
  -webkit-transition: ease-in-out $effect $time;
     -moz-transition: ease-in-out $effect $time;
      -ms-transition: ease-in-out $effect $time;
          transition: ease-in-out $effect $time;}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;}     
/*=============================
			Body
=============================*/
body { background: $bg; }
/*=============================
			Header
=============================*/
header#main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: $fg;
	overflow: hidden;
	img#logo {
		height: 60px;
		width: 20%;
		float: left;
		background: #fff;
	}
	form#search-form {
		//float: left;
		width: 30%;
		margin: 0 auto;
		position: relative;
		top: 10px;
		input[type="text"] {
			float: left;
			border: 0;
			padding: 8px 3%;
			font-size: 1.3em;
			width: 84%;
		}
		input[type="submit"] {
			float: right;
			width: 10%;
			height: 40px;
			border: 0;
			background: #fff url($loopImg);
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	section#log-in {
		float: right;
		position: absolute;
		right: 0;
		top: 10px;
		width: 40px;
		height: 40px;
		section.avatar {
			width: 40px;
			height: 40px;
			background: #fff url($avatarImg);
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
			@include border-radius(100%);
		}
	}
}




/*=============================
			Misc
=============================*/
.group {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}